<div class="card">
	<div class="card-body">
		<h5 class="card-title"> {{headline}} </h5>
		<p class="card-text"> {{summary}} </p>
		<button class="delete" data-id="{{id}}"> Delete </button>
	</div>
</div>